.button {
  cursor: pointer;
  display: inline-block;
  position: relative;
  height: 40px;
  padding: 0 25px;
  font-size: 16px;
  line-height: 1;
  text-align: center;
  color: #fff;
  background: var(--peachy);
  outline: none;
  border: 0;
}

.button_form {
  background: var(--green);
}

.button_form:hover {
  opacity: 0.8;
}

@media (max-width: 767px) {
  .button {
    font-size: 14px;
  }
}