.form {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--light-border);
    padding: 20px;
    background: transparent;
}

.form__wrap {
    padding: var(--big) var(--big) 30px;
    border: 1px solid var(--light-border);
    background: #fff;
    display: flex;
    flex-direction: column;
}