.form {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--light-border);
    padding: 20px;
    background: transparent;
}

.form__wrap {
    padding: var(--big);
    border: 1px solid var(--light-border);
    background: #fff;
    display: flex;
    flex-direction: column;
}

.form__button {
    text-align: center;
    margin-top: var(--small);
}

.form__name {
    font-size: 20px;
    margin-bottom: var(--small);
    text-align: center;
}